<!DOCTYPE html>
<HTML>
    <HEAD>
        <title>Empire of Ages</title>

        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <meta name="description" content="This will be a description">


        <link rel = "stylesheet" type = "text/css" href ="/assets/stylesheet.css"/>
        <link rel="shortcut icon" type="image/png" href="/assets/icon.png">
    </HEAD>

    <BODY>
        <div class = "message"></div>
        <div id = "data">
            <div class = "stats">
                Gold: <span id = "gold"></span>
                <br>
                Player: <span id = "player"></span>
                <br>
                Selected: <span id = "selected"></span>
                <br>
                Speed: <span id = "speed"></span>
                <br>
                For loops: <span id = "forLoopCount"></span>
            </div>

            <div id = "units">
            </div>
            <div id = "foods">
            </div>
            
            <div class = "instructions">
                Click to select/unselect a unit
                <br>
                Shift-click to move a selected unit
                <br>
                Q to stop selected unit
                <br>
                W to print path length
                <br>
                E to console log unit
            </div>
            <div class = "controls">
                <button id = "new-unit">Create a unit</button>
                <button class = "player-change" data-id = "1">P1</button>
                <button class = "player-change" data-id = "2">P2</button>
                <br>
                <button id = "socket-tester">TEST</button>
            </div>
        </div><!-- 

     --><div id = "canvasContainter">
            <canvas id = "canvas"></canvas>
        </div>
        
        


<!--         <script src="/socket.io/socket.io.js"></script> -->
        <script src="https://cdn.socket.io/socket.io-1.4.0.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script type="text/javascript" src = "/assets/script2.js"></script>
    </BODY>
</HTML>
