body div{
    color: black;
    font-size: 1.5em;
    font-family: monospace;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    display: inline-block;
}

canvas {
    border: 1px solid gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.instructions{
    color: #464846;
    font-size: 1em;
}