.units, .stats, .instructions {
    color: black;
    font-size: 1.5em;
    font-family: monospace;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    display: table;
}

#canvasContainter {
    text-align: center;
}

canvas {
    border: 1px solid gray;
    margin: 0px auto;
}

.instructions{
    color: #464846;
    font-size: 1em;
}