#units, .stats, .instructions {
    color: black;
    font-size: 1.5em;
    font-family: monospace;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

#data, #canvasContainter{
    display: inline-block;
    width: calc(50% - 20px);
    vertical-align: top;
    padding: 10px;
}

#canvasContainter {
    text-align: center;
}


#new-unit {
    display: none;
}




canvas {
    border: 1px solid gray;
    margin: 0px auto;
}

.instructions{
    color: #464846;
    font-size: 1em;
}